
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
}


.container {
  background: #141a69;
  margin: 10%;
  padding: 24px;
  max-width: 420px;
  width: 100%;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  text-align: center;
}

.container p {
  font-size: 1.1rem;
  margin-bottom: 14px;
  color: #fff;
}

/* Input */
#qrText {
  width: 100%;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  margin-bottom: 18px;
  transition: border 0.2s;
}

#qrText:focus {
  border-color: #279f95;
  outline: none;
}

/* Image box */
#imgBox {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  display: none;
}

/*  */

#imgBox.show-img {
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  display: block;
  /* background-color: #ddd; */
}

/* Button */
button {
  width: 100%;
  padding: 14px;
  font-size: 1rem;
  background: #2ec4b6;
  border: none;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background: #279f95;
}

button:active {
  transform: scale(0.98);
}

.error {
  border-color: #ff6b6b !important;
}

/* Mobile tweaks */
@media (max-width: 400px) {
  #qrText {
    font-size: 0.95rem;
  }
}
